body {
	margin: 0;
	padding: 0;
  }
  
  .top-bar {
	background-color: rgb(197, 181, 197);
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
	position: fixed;
	top: 0; 
	z-index: 1000;
  }
  
  #menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  #menu ul li {
	margin-right: 10px; /* Adjust spacing between menu items */
  }
  
  #menu ul li:last-child {
	margin-right: 0; /* Remove margin from last item */
  }
  
  #menu ul li a {
	color: #333;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
  }
  
  #menu ul li a:hover {
	color: rgb(17, 180, 53);
  }
  
  .spacer {
	margin: 0 5px; /* Adjust spacing between spacers */
  }

  #menu ul li a img {
	width: 20px; /* Set the width of the image */
	height: 20px; /* Set the height of the image */
	margin-right: 10px; /* Add some space between the image and the text */
  }

  body h2 {
	font-size: 70px;
	font-weight: 600;
	background-image: linear-gradient(45deg, #553c9a, #ee4b2b);;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
  }
  