body {
	margin: 0;
	padding: 0;
}

.top-bar {
	background-color: rgb(177, 128, 128);
	height: auto;
	width: 100%;
	display: flex;
	color: #000;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
	position: fixed;
	top: 0;
	z-index: 1000;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

#menu ul li {
	margin-right: 10px;
	/* Adjust spacing between menu items */
}

#menu ul li:last-child {
	margin-right: 0;
	/* Remove margin from last item */
}

#menu ul li a {
	color: #333;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}

#menu ul li a:hover {
	color: rgb(17, 180, 53);
}

.spacer {
	margin: 0 5px;
	/* Adjust spacing between spacers */
}

#menu ul li a img {
	width: 20px;
	/* Set the width of the image */
	height: 20px;
	/* Set the height of the image */
	margin-right: 10px;
	/* Add some space between the image and the text */
}

body h2 {
	font-size: 70px;
	font-weight: 600;
	background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
	;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.left-align {
	text-align: left;
	padding: 30px;
	font-size: 20px;
}

  /* Modal styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal content box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* Close button */
  .close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Button styles */
  button {
    padding: 15px 10px; /* Adjust padding to increase button size */
    font-size: 16px; /* Adjust font size */
  }

  /* Smiley bar styles */
  .smiley-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .smiley {
    cursor: pointer;
  }
  .smiley.close:hover
  {
	color: #00ff2a;
  }

  /* Textarea styles */
  .message {
    width: 100%;
    height: 140px;
  }

  .section1 {
    background-color: lightblue;
  }

  .section2 {
    background-color: lightgreen;
  }

  .section3 {
    background-color: lightcoral;
  }

  /* This class will be applied when the section is in view */
  .active {
    font-size: 48px;
    transition: font-size 0.5s;
  }
  